/target/
!.mvn/wrapper/maven-wrapper.jar
**/.DS_Store/*
.DS_Store
Thumbs.db
gradle
gradlew
gradlew.bat

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
###############
.html





### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.svg
*.android_data_binding
*.js
*.css
*.yarn.lock
*.docx
*.png
*.gif
*.mjs
.gradle


### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/gradle/
/build.gradle
/gradlew
/gradlew.bat
/gradle.properties
